*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 0, 0)); /* Standard syntax */
    text-shadow:   0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-size: cover;
    height: 100vh;
}

h1 {
    padding-top: 10vh;
    font-size: 2.5rem;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em; 
}

h2 {
    padding-top: 5vh;
    font-size: 1.5rem;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
   
}

h3 {
    padding-top: 3vh;
    font-size: 1rem;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01rem;

}

.elevation {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 3vh;
    width: 5vw;
    
}
input{
   margin-top: 5vh;

}
label {
    text-shadow:   0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-weight: 900;
}
